<div class="container">
  <p>Consiste en generar alarmas en tiempo real en caso que haya ocurrido alguna emergencia tanto como a la persona registrada en la APP como a algún ciudadano al que quiera brindar ayuda, especificando la alarma como puede ser robo, violación, incendio, etc. estas alarmas tendrán comunicación directa al 123 de la Policía Nacional.<p>
  <p>El usuario podrá identificar en el mapa los cuadrantes que se encuentran disponibles en el momento con la opción de tener comunicación directa con el cuadrante bien sea por llamada o por chat.</p>

  <p>Ademas el ciudadano mediante otro dispositivo ingresando a la aplicación podrá reportar su robo del celular y el administrador realizara un seguimiento especial para que cuando sea encendido nuevamente el celular se pueda contribuir con la búsqueda.</p>

  <p>Tendrá un espacio en el cual podrá realizar filtros de sitios de interés. <b>Ejemplo:</b>
  <br>¿Cual es la estación de policía mas cercana?</p>

  <p>Este filtro se pintara en el mapa dando al usuario la mejor ruta para llegar al punto de interés.</p>

  <p>Esta aplicación podrá visualizar las diferentes cámaras publicas que la Policía a implementado en los postes de la ciudad para el área administrativa y para el ciudadano podrá incluir cámaras privadas las cuales van a ser observada por el ciudadano quien la incluye y la Policía Nacional.</p>

  <p>El área administrativa tan pronto se reporte una alarma podrá visualizarla en el mapa y podrá realizar el seguimiento por las cámaras incluidas en la aplicación.</p>

  <p>Con la ayuda de esta aplicación tendremos el escenario ideal en el cual bajaremos los feminicidios, muertes violentas en la localidad y aumentaremos la sensación de seguridad, apoyo y posibilidad de denuncia por el ciudadano que sufre este tipo de situaciones.</p>
</div>
